@model RewardViewModel

@{
    ViewData["Title"] = "Edit Reward Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Reward Item</h2>

<h4>Code: @Model.Code</h4>
<h5>Description: @Model.Description</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SerialNo" class="control-label"></label>
                <input asp-for="SerialNo" class="form-control" />
                <span asp-validation-for="SerialNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RewardType" class="control-label"></label>
                <input asp-for="RewardType" class="form-control" />
                <span asp-validation-for="RewardType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label>
                <input asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsUsed" /> @Html.DisplayNameFor(model => model.IsUsed)
                </label>
            </div>
        </div>*@
            <p>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
                <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-ban-circle"></span>Cancel</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
