<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="database" 
            xsi:type="Database"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
            connectionString="server=pongsatornoffice.cqttbtdz5ct1.ap-southeast-1.rds.amazonaws.com;
                          Port=3306;
                          Database=EMRedemptionDB;
                          Uid=thel3oat0142;
                          Pwd=thel3oat;
                          convert zero datetime=True;
                          SslMode=none;">

      <commandText>
        INSERT INTO EMRedemptionDB.AppLogs (Application,Logged,Level,Message,Logger,Callsite,Exception) VALUES (@Application,@Logged,@Level,@Message,@Logger,@Callsite,@Exception);
      </commandText>

      <parameter name="@application" layout="Exxon Redemption" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callsite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>
<rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <logger name="Microsoft.*" minlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="database" />
    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>