<target name="database" 
        xsi:type="Database"
        dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
        connectionString="server=pongsatornoffice.cqttbtdz5ct1.ap-southeast-1.rds.amazonaws.com;
                          Port=3306;
                          Database=EMRedemptionDB;
                          Uid=thel3oat0142;
                          Pwd=thel3oat;
                          convert zero datetime=True;
                          SslMode=none;">

  <commandText>
    insert into EMRedemption.AppLogs (Application,
                          Logged,
                          Level,
                          Message,
                          Logger,
                          CallSite,
                          Exception) 
                   values (@Application, 
                           @Logged, 
                           @Level, 
                           @Message,
                           @Logger,
                           @Callsite,
                           @Exception);
  </commandText>

  <parameter name="@application" layout="AspNetCoreNlog" />
  <parameter name="@logged" layout="${date}" />
  <parameter name="@level" layout="${level}" />
  <parameter name="@message" layout="${message}" />
  <parameter name="@logger" layout="${logger}" />
  <parameter name="@callsite" layout="${callsite:filename=true}" />
  <parameter name="@exception" layout="${exception:tostring}" />
</target>