@model RewardTypeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.RewardName</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RewardCode" class="control-label"></label>
                <input asp-for="RewardCode" class="form-control" readonly="readonly" />
                <span asp-validation-for="RewardCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardName" class="control-label"></label>
                <input asp-for="RewardName" class="form-control" />
                <span asp-validation-for="RewardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardTypeName" class="control-label"></label>
                <input asp-for="RewardTypeName" class="form-control" />
                <span asp-validation-for="RewardTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
