@model RedemptionViewModel
@{
    ViewData["Title"] = "Change Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Change to unsend email</h2>
<hr />
<div class="jumbotron">
    <form asp-action="ChangeStatus">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" hidden="hidden" />
        <div class="form-group">
            <label asp-for="TransactionID" class="control-label"></label>
            <input asp-for="TransactionID" readonly="readonly" class="form-control" />
            <span asp-validation-for="TransactionID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RetailerName" class="control-label"></label>
            <input asp-for="RetailerName" readonly="readonly" class="form-control" />
            <span asp-validation-for="RetailerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RetailerStoreName" class="control-label"></label>
            <input asp-for="RetailerStoreName" readonly="readonly" class="form-control" />
            <span asp-validation-for="RetailerStoreName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RetailerEmailAddress" class="control-label"></label>
            <input asp-for="RetailerEmailAddress" readonly="readonly" class="form-control" />
            <span asp-validation-for="RetailerEmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RetailerPhoneNumber" class="control-label"></label>
            <input asp-for="RetailerPhoneNumber" readonly="readonly" class="form-control" />
            <span asp-validation-for="RetailerPhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RedeemDateTime" class="control-label"></label>
            <input asp-for="RedeemDateTime" class="form-control" readonly="readonly" />
            <span asp-validation-for="RedeemDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="OK" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
            </div>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
