@model ConfirmToStoreViewModel;

@{
    ViewData["Title"] = "ConfirmToStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/>
<h2>Confirm</h2>
<hr />
<div class="jumbotron">
    <form asp-controller="Redemption" asp-action="ConfirmToStore">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="jumbotron">
            <div class="form-group">
                <label asp-for="RedeemDate" class="control-label"></label>
                <input asp-for="RedeemDate" readonly="readonly" class="form-control" />
                @*<span asp-validation-for="SerialNo" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" readonly="readonly" class="form-control" />
                @*<span asp-validation-for="SerialNo" class="text-danger"></span>*@
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Retrieve"><span class="btn btn-primary">Cancel</span></a>
        </div>
    </form>
</div>
