@model ProcessRewardListViewModel
@{
    ViewData["Title"] = "ProcessRewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

<h2>Process Rewards</h2>

<hr />
<div class="jumbotron">
    <form asp-controller="Redemption" asp-action="ProcessRewards">
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Trasaction ID
                    </th>
                    <th>
                        Retailer Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Redeem Date
                    </th>
                    <th>
                        Code Deliver
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Redemptions){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerEmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedeemDateTime)
                    </td>
                    <td>
                        @if(item.Status == EMRedemption.Entities.RedemptionStatus.Processed)
                        {
                            <span class="label label-success">Ok</span>
                        }
                        else
                        {
                            <span class="label label-danger">Out of stock</span>
                        }
                    </td>
                    <td>
                </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <a asp-action="ProcessRewardList" class="btn btn-primary">Cancel</a>
    </form>
</div>
