
@{
    ViewData["Title"] = "ProcessRewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

<h2>Process Rewards</h2>

<hr />
<div class="jumbotron">
    <form asp-controller="Redemption" asp-action="ProcessRewards">
        
        <h3>Total Redemption(s):@ViewBag.Total</h3>
        <hr />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>
