
@{
    ViewData["Title"] = "SendEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send Email</h2>

<hr/>
<div class="jumbotron">
    <form asp-action="SendEmail" method="post">
        <button type="submit" class="btn btn-primary">Confirm</button>
        <a asp-action="SendEmailList" class="btn btn-primary">Cancel</a>
    </form>
</div>


